@charset "utf-8";

html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#map_canvas {
	height: 100%
}

#title {
	background-color: #e22640;
	padding: 5px;
}

#current {
	font-size: 10pt;
	padding: 5px;
}